.idea
.DS_Store
*.pyc
__pycache__
*.sqlite3
media-files
static-files
/app/.coverage
/app/htmlcov
/node_modules
/frontend/node_modules/


**/migrations/**

!/backend/apps/bloodrequests/migrations/0001_initial.py
!/backend/apps/bloodrequests/migrations/0002_bloodrequest_applicants.py
!/backend/apps/bloodrequests/migrations/0003_auto_20200722_0855.py
